
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');


body {
  margin: 0;
  font-family: 'Archivo Black', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
.logooo{
  width:60px;
  height:60px;
  display:inline-block;
}

.product--image{
  max-width:255px;
  max-height: 255px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
